*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}


.main{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 40px;
    flex-wrap: wrap;
}

.main img{
    width:400px;
    height: 300px;
    border-radius: 10%;
    border: 5px solid #42855B;
}

.main h1{
    color:#42855B;
    text-align: center;
}

