*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}
/* body{
    background-image: url("./c_bg.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;   
    } */
.main{
    max-width: 320px;
    width: 100%;
    background: white;
    margin: 20px auto;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #42855B;
  }
  .main .title{
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #42855B;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5%;
  }
  .main .btn{
    width: 100%;
    padding: 8px 10px;
    font-size: 15px; 
    border: 0px;
    background:#42855B;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    margin: 2%;
    height:50px;
  }

  .in{
    text-align: center;
    margin-bottom: 20%;
    font-size: 35px;
    color: #42855B;
  }

  input{
    width: 100%;
    text-align: center;
    height: 60px;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    font-size: 75px;
    margin-top: 3%;
  }

  .base{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content:center;
     gap:10px;
     background-color: #fff;
     margin: 3%;
     
 }

 .story{
  width: 720px;
  height: 340px;
  background-color: #fff;
  margin: 20px auto;
 
  padding: 30px;
 }

 .photo{
  width: 320px;
  height: 320px;
  background-color: #fff;
  margin: 20px auto;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
  padding: 30px;
  align-items: center;
 }

 .photo img{
  width: 260px;
  height: 260px;
  border-radius: 10%;
 }

 .title{
  text-align: center;
  color: #42855B;
  margin: 3%;
  font-size: 72px;
 }

  

