*{
    margin: 10;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}

.top{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-left: 14%;
    margin-top: 3%;

}

.top h1{
    text-align: center;
    color: #42855B;
}

.top button{
    color:white;
    background-color: #42855B;
    border: none;
    height: 60px;
    width: 60px;
    margin-right: 10%;
    margin-bottom: 3%;
    border-radius: 50%;
}

