*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}

.hero_section{
    min-height: 100vh;
    
}

.navbar{
    display: flex;
    align-items:center;
    justify-content:space-between;
    height: 85px;
    padding: 16px 48px;
    font-weight: bold;
    background-color: #42855B;
    font-weight: 200;
}

.navbar a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration:underline;
}

.navbar_menu_container{
    display: flex;
    gap: 20px;
}

.hero_section_container{
    display:flex;
    flex-direction: row;
    /* align-items:flex-start; */
    justify-content: center;
    /* flex-wrap: wrap; */
    height: calc(75vh - 60px);
    gap: 17px;
    margin: 3%;
    margin-top: 5%;
    margin-left: 4%;
}


.hero_section_title{
    font-size: 52px;
    font-weight: bold; 
    text-align: center;
    color: #42855B;
    margin-top: 12%;
    margin-left: 3%;
}

pre{
    color:#42855B;
    font-weight: 500;
    font-size: 25px;
    margin-top: 3%;

}

span{
    font-size: x-large;
    font-weight: 600;
    color: white;
}

.top_img{
    width: 500px;
    height:400px;
}
.container{
    margin: 5rem auto;
    width: 80%;
    
}

.container h1{
    text-align: center;
    color:#42855B;
}

.we_offer{
    display: flex;
    flex-wrap: wrap; /* responsive */
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.we_offer .card{
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #e0e0e0;
    transition: all 0.3s ease-in-out ;
    margin: 12px;
    cursor: pointer;
} 

.we_offer .card img{
    width: 300px;
    height: 180px;
    object-fit: cover;
    object-position: center;
}

.we_offer .card h2{
    padding: 10px;
    font-size: 15px;
    text-align: center;
    font-weight: 400;
}

.we_offer .card:hover{
    transform: scale(1.05);

}

.dot{
    width: 7%;
    border: dotted #42855B 6px;
    border-bottom: None;
    margin:100px auto;
}

.rain_section{
    background-image: url("./bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
}

.rain_section h1{
    color: white;
    font-weight: 400;
    font-size: 60px;
}

.rain_section h2{
    color: white;
    font-weight: 400;
    font-size: 30px;
}

.rain_section .btn{
    cursor: pointer;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    color: white;
    font-size: 1.5em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

.rain_section .btn:hover{
    transform: scale(1.05);
} 



.rain_section_container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(75vh - 60px);
    gap: 32px;
}

.rain_section_title{
    font-size: 36px;
    font-weight: bold; 
    text-align: center;
}

.auto_irrigation{
    display:flex;
    flex-direction: row;
    justify-content: center;
    height: calc(75vh - 60px);
    gap: 17px;
    margin: 3%;
    margin-top: 5%;
    margin-left: 4%;
}

.auto_irrigation_title{
    font-size: 50px;
    text-align: center;
    font-weight: bold; 
    color: #42855B;
    margin-top: 7%;
}

.auto_irrigation .top_img{
    width: 400px;
    height: 300px;
    margin-left: 15%;
    border-radius: 50%;
}

.auto_irrigation p{
    color:#42855B;
    font-weight: 500;
    font-size: 20px;
    margin-top: 3%;
}

.auto_irrigation .btn{
    cursor: pointer;
    border: 1px solid #42855B ;
    background-color: white;
    border-radius: 10px;
    height: 40px;
    width: 120px;
    color:#42855B;
    font-size: 1em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    margin-top: 5%;
}

.auto_irrigation .btn:hover{
    background-color: #42855B;
    color: white;
}



.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 100%;
    background-color: #42855B;
    color: white;
}


/* 1200,1000,800,500 */

@media only screen and (max-width:1250px) {

    .top_img{
      width: 400px;
      height: 400px;
    }

    .hero_section_container{
      flex-wrap: wrap;
    }

    .hero_section_title{
      font-size: 35px;
    }

    pre{
      font-size: 15px;
    }
  
}






