<html>

<head>
    <title>Crop Market Status</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='crop_predict.css') }}">
    <style>
        body{
            background: none;
        }
        .wrapper{ 
            display: flex;
            flex-direction: row;
            max-width: 1000px;
            
        }
        
    </style> 
</head>

<body>
    <div style="justify-content: flex-end;display: flex;" id="google_translate_element"></div>

    <script type="text/javascript">
    function googleTranslateElementInit() {
    new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
    }
    </script>

    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
     <h1 style="text-align: center;font-size:50px;color:#42855B;">Market Analysis</h1>
    <div class="">
        <br><br><br><br><br><br><br><br>
        <form action="{{url_for('market')}}" method="POST">
            <div class="wrapper">
                <div style="width:40%;" class="">
                    <!-- <label style="font-size:25px;color:#42855B;" for=""> State</label> -->
                    <select style="height:40px;width:200px;margin-left: 2%;border-radius: 10px;background-color: #42855B;color: aliceblue;font-weight: 200;" title="Pick a number" class="inputfield" name="state">
                        <option>STATE</option>
                        {% for state in states %}
                        <option value={{state}}>{{state}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div style="width:30%;" class="">
                    <!-- <label for="">Crop</label> -->
                    <select style="height:40px;width:200px;margin-left: 2%;border-radius: 10px;background-color:#42855B;color: aliceblue;font-weight: 200;" title="Pick a number" class="" name="crop">
                        <option>CROP</option>
                        <option value="All">All</option>
                        {% for crop in crops %}
                        <option value={{crop}}>{{crop}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div style="width:30%;" class="">
                    <input style="height:40px;width:100px;background-color: #42855B;color: aliceblue;" type="submit" value="Submit" class="btn">
                </div>
            </div>
        </form>
        <br><br>
        {%if result_len == 17 %}
        <div>
            <canvas id="myChart" width="400" height="200"></canvas>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
        <script>

            var canvas = document.getElementById('myChart');
            var result_len = '{{result_len}}'
            console.log(typeof (result_len))
            var data = {
                labels: ['Rice', 'Jowar', 'Bajra', 'Maize', 'Ragi', 'Wheat', 'Barley', 'Gram', 'Tur', 'Groundnut', 'Mustard', 'Soyabean', 'Sunflower', 'Cotton', 'Jute', 'Mesta'],
                datasets: [
                    {
                        label: "Market Stats",
                        backgroundColor: "#42855B",
                        hoverBackgroundColor: "#42855B",
                        hoverBorderColor: "#42855B",
                        data: ['{{result[0][2]}}', '{{result[1][2]}}', '{{result[2][2]}}', '{{result[3][2]}}', '{{result[4][2]}}', '{{result[5][2]}}',
                            '{{result[6][2]}}', '{{result[7][2]}}', '{{result[8][2]}}', '{{result[9][2]}}', '{{result[10][2]}}', '{{result[11][2]}}',
                            '{{result[12][2]}}', '{{result[13][2]}}', '{{result[14][2]}}', '{{result[15][2]}}'],
                    }
                ]
            };

            Chart.defaults.global.legend.display = false;
            Chart.defaults.global.animation.duration = 5000;

            var option = {
                legend: {
                    display: true
                },
                animation: {
                    duration: 2000
                }
            };

            var myBarChart = Chart.Bar(canvas, {
                data: data,
                options: option
            });


        </script>
        {% endif %}
        <div class="">
            <br><br>
            <h3 style="font-size: 50px;color:#42855B;text-align:center;margin-top: 3%;">Statistics</h3>

            {% if display == True %}
            <div class="">
                <table id="result">
                    <thead>
                        <tr>
                            <th style="text-align:center;font-size:20px;font-weight:200;">State</th>
                            <th style="text-align:center;font-size:20px;font-weight:200;">Crop</th>
                            <th style="text-align:center;font-size:20px;font-weight:200;">Profit/hectare</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in range(result_len) %}
                        <tr>
                            <td style="text-align:center;font-size:20px;font-weight:200;">{{result[i][0]}}</td>
                            <td>{{result[i][1]}}</td>
                            <td> ₹ &nbsp; {{result[i][2]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif%}

        </div>

        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    </div>
</body>
</html>