<div style="justify-content: flex-end;display: flex;" id="google_translate_element"></div>

            <script type="text/javascript">
            function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
            }
            </script>

            <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<br /><br />
<h2 style="text-align: center;font-size: 36px; margin-top: 3%; color:#42855B">
    <b>Identified Pest: <i>mosquito</i></b>
</h2>

 <section>

        <div class="container">
            <h3 style="text-align: center;font-size: 36px; margin-top: 3%; color:#42855B"
                class="text-center my-3 content-h3">
                Recommended Products</h3>
        </div>

<div class="container">
            <div class="card-columns">
                <div class="card" style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%; margin-left:5%; height:300px; width:300px;"
                             class="img-fluid" src="static/img/pesticide/mosquito/evident.jpg" alt="evident">
                      <h3 class="card-text">Dose: 400-500 gm/Ha</h3>
                    </div>
                </div>
                <div class="card" style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%;margin-left:5%; height:300px; width:300px;"
                             class="img-fluid" src="static/img/pesticide/mosquito/thiomax.jpg" alt="thiomax">
                        <h3 class="card-text">Dose: 100 gm/Ha</h3>
                    </div>
                </div>
            </div>
    </section>

